body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.brand img {
  vertical-align: middle;
  height: 30px;
}

.brand {
  font-weight: 600;
}

.brand span {
  vertical-align: middle;
  margin-left: 3px;
  color: white;
}

.brand-admin img {
  vertical-align: middle;
  height: 30px;
}

.brand-admin {
  font-weight: 600;

  color: white;
  height: 50px;
  margin: auto;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.brand-admin span {
  vertical-align: middle;
  margin-left: 3px;
  color: white;
}

.react-terminal-line {
  color: #2bff2b;
}

.body-home {
  display: flex;
  flex-direction: row;

}

.body-ts {
  flex: 1;
}

.body-terminal {
  flex: 2;
}



@media (max-width: 768px) {
  .body-home {
    flex-direction: column;
  }

  .body-ts,
  .body-terminal {
    flex: 1;
    width: 100%;
  }
}

.white-space {
  white-space: normal;
}
.layout-card {
  min-height: 90vh;
}

.select-item {
  margin-bottom: 10px;
}

.admin-body {
  display: flex;
  justify-content: center;
}

.admin-card-1-3 {
  width: 25%;
 
}

.admin-card-2-3 {
  width: 70%;
}

.logo {
  width: 100px;
  background-color: rgb(72, 71, 90);
  height: 80%;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  font-family: monospace;
  align-items: center;
  font-weight: bold;
}

.logo-admin {
  text-align: center;
  background-color: rgb(108, 108, 108);
  color: white;
  height: 30px;
  margin: auto;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}


iframe#webpack-dev-server-client-overlay{display:none!important}